@model FiltrationSolutionsLtd.Models.Product


@if (Model.ProductName == "Cleaning Filters")
{
    <div>
        <h3>Cleaning Filters</h3>
        <p>
            There is an increasing number of companies using programs to reduce maintenance costs and also their own carbon footprint.
            We specialise in the cleaning and reconditioning of Industrial and Commercial filters, especially for Dust Collectors and Bag Houses.
        </p>
        <p>
            Many industrial plants filtration systems have specific requirements and multiple sizes and types of filters. Because of this, we design our filter cleaning program around you.
            Our business is to provide any filtration solutions or filter replacements and we do this by partnering with you to ensure that the filtration specifications required for your own product are properly matched.
        </p>
        <p>
            You can rely on us to professionally clean and recondition your filters in a smart and very cost-effective way. Filter types include industrial dust collector filters, Air Handling Units, Intake filters and blower filters to name just a few.
            Most new filtration products we supply are generally direct replacements, ensuring minimum or no modifications are needed.
            We endeavour to offer experience based and cost-effective filtration solutions with every purchase, catering from small quantities to plants sending pallets of filters.
        </p>
        <h4>Cleaning filters and re-using filters makes sense in many ways:</h4>
        <ol>
            <li>Your employees will breathe easy knowing you care about their wellbeing. This can add to employee loyalty and staff retention. </li>
            <li>Cleaning filters will save you money. It could be 40% to 60% less than the cost of purchasing new filters.</li>
            <li>You will reduce your carbon footprint, and the stress on our natural resources. It will help your company sustainability manager’s efforts.</li>
            <li>Together, we can keep viable filters out of the landfill, decreasing pollution and waste disposal expenditure.</li>
            <li>Your customers will see you as being great ambassadors of our environment and taking onboard a moral, ethical path.</li>
        </ol>
        <h5>Make a difference, one filter at a time.</h5>
    </div>
}
@if (Model.ProductName == "Cleaning Process")
{
    <div>
        <h3>Cleaning Process</h3>
        <p>
            Our filter “cleaning process” and our product range is confidential. In fact, our product range is so vast that we won’t bother to waste your valuable time showing heaps of filter photos and pages of irrelevant technical information.
        </p>
        <p>
            Instead, here’s a photo representing one of the reasons why I am passionate about contributing to saving the environment in New Zealand, here’s my nephew Theo, cutting it up in crystal clear waters.
        </p>
        <p>
            Your filters environment and most importantly the type of filter media determine which processes we use for filter cleaning. Cleaning methods used are selected in order to achieve the most effective and safest results for your filter.
        </p>
        <p>
            After an initial evaluation, we may elect to use one, or several methods of cleaning.
            At all times we use a logical, engineering based approach that varies depending on
            the particulates, filter type, filter medium, filter size and filter design.
        </p>
        <p>
            We can help you whether you have Pulse Pleats, Round or Oval cartridge types
            (Open Open or Open Closed), Tri Lobular, Bag House (spun-bonded polyester type)
            through to Fabric Filters (socks) and other flat or pleated panel configurations.
        </p>
        <p>
            Filter Sanitisation is also available at extra charge.
        </p>
        <p>
            Just remember also that changing to a different media may be more beneficial for your specific equipment.
            In future we will also look at installing more specific filtration cleaning equipment, until then, we will be happy to advise you on the best filter cleaning options to suit your immediate needs.
           Get in contact us to see how you can save money recycling and reconditioning as opposed to always buying new filters – all while being kinder to our environment.
        </p>
        <h4>
            Unless otherwise advised by Filtration Solutions Limited, a manufacturer’s data sheet, MSDS or SDS is required for any filters requiring cleaning.
        </h4>
    </div>
}
@if (Model.ProductName == "Cleaning Products")
{
    <div>
        <h3>Cleaning Products</h3>
        <p>
            We have an extensive range of filtration cleaning products and it is our aim to use environmentally friendly products whenever we can.
            Most of our filter cleaning products are specifically sourced for your equipment’s filters, most are manufactured or blended locally in NZ.
        </p>
        <p>
            Regular visits to our suppliers are scheduled throughout the year and this time is used to discuss and inspect existing orders and ensuring that quality control standards are being met.
        </p>
        <p>
            Get collaboration on new product development and the time spent on prequalifying client’s filtration applications ensures high-quality products are used.
        </p>
    </div>
}
@if (Model.ProductName == "Sales")
{
    <div>
        <h3>Why Choose Us?</h3>
        <p>
            We are here to give people independent filtration advice.
            Using our expertise, experience and customised cleaning technology, we can give you cleaned filters, and also increase your plants reliability and profitability.
        </p>
        <p>
            Our equipment ensures optimum cleaning results without any risk of damage to
            expensive or specialised filters.
            We have access to a vast range of products from reputable suppliers in NZ and
            overseas.
             </p>
        <p>
            We keep things simple, so we can all get on with living a good life!
        </p>
        <h3>Our business is set up in 3 parts:</h3>
        <h4>SALES</h4>
        <p>
            We can access most types of filters and are ready to work with you on current, new or
            future projects.
        </p>
        <h4>SERVICE</h4>
        <p>
            We offer to customize your preventative maintenance agreements for filtration equipment and other areas of your plant.
        </p>
        <p>
            Free initial consultations for the first hour.
        </p>
        <h4>CLEANING</h4>
        <p>
            Have you considered saving thousands of valuable dollars per year by simply cleaning
            your filters?
        </p>
        <p>
            Have you been told that you can’t clean filters by your incumbent supplier or filter
            manufacturer?
        </p>
        <p>Has your current supplier ever asked if you wanted to investigate this option?</p>
        <p>
            We can confidentially discuss how economical it can be and identify if your current filter
            life can be extended by using dedicated cleaning processes.
        </p>
    </div>
}

@if (Model.ProductName == "Service Consultation")
{
    <div>
        <h3>Free Initial Consultation</h3>
        <p>
            As we are called on for all sort of people requiring solutions, we usually start off by having a “no obligation discussion”. In most cases, this is followed by Filtration Solutions Limited attending an Initial Consultation at your site. This is FREE of charge for the first hour.
        </p>
        <p>
            We have found that this is a good time to see if we can meet your needs, and also if we are a good fit for an ongoing business relationship.
            We accept that many sites have specific needs and we do try to cover most areas of filtration. However, we are honest enough to say that sometimes our services are unable to be as competitive as some major suppliers.
        </p>
        <p>
            In saying this, have you ever backed the underdog? We will constantly look at ways to improve our services and add value. Bear in mind we are NOT corporate governed by any means, but we are professional and probably more flexible than most.
        </p>
        <p>
            Our highest priority and focus is to supply high quality filtration products to New Zealand markets at a reasonable price to our clients and end users.
            Our product range is always expanding and meeting the growing demand for a wide variety of applications and equipment.
        </p>
        <p>
            Our company values loyalty, so we give straight forward independent advice from solid technical engineering backgrounds.
        </p>
        <h4>Above all, we are committed to working with our clients to meet their needs.  </h4>
    </div>
}
@if (Model.ProductName == "Service Agreement")
{
    <div>
        <h3>Customised Service Agreements</h3>
        <h4>Let’s face it, saving time saves money! </h4>
        <p>
            By using our experienced specialists and getting on board with a Customised Service Agreement, you can extend the life of your filtration equipment whilst you get on with your core business.
        </p>
        <h4>
            Regular preventative maintenance tasks may include:
        </h4>
        <ol>
            <li>Basic or comprehensive equipment servicing.</li>
            <li>Dismantling ﬁlters & inspection of internal or external surfaces.</li>
            <li>Inspect gaskets and seals.</li>
            <li>Cleaning or replacement of ﬁlter elements.</li>
            <li>Recommended spare parts list.</li>
            <li>Check any differential pressure gauge or switch.</li>
            <li>Inspection of control panel & low voltage wiring.</li>
            <li>Inspect fan motors and drive systems for noise and wear.</li>
            <li>Check any louvers or actuators.</li>
            <li>Check and reassemble any associated drainage systems.</li>
            <li>Report on corrosion affected areas.</li>
            <li>Safety checks. Note that these must be agreed to by both parties.</li>
            <li>Service Report with our recommendations. Please note that these are chargeable.</li>
        </ol>
        <h3>
            Quotes
        </h3>
        <p>Quotations are sent to you by email and are followed up by phone or e-mail. We strive to make these easy to understand so you can act quickly.</p>

        <p>
            They will generally show the estimated cost of labour, parts, and travelling time so you'll know exactly what's included in your quotation. Prices are in $NZ unless otherwise stated, exclude GST, consumables, freight and packaging.
            (VTO) or Variation To Order, for Sales, Service work, Spare Parts and Cleaning Filters must be in writing and send ASAP to <a href="mailto:chris@filtrationsolutions.co.nz">chris@filtrationsolutions.co.nz</a>
        </p>
        <h4>If you are planning future work, just give Chris a call and he will arrange everything. </h4>
        <p>
            Remember, you're always in control. If we discovers that your equipment doesn't need all the services you requested, we'll advise you and if required we will remove those services. If your equipment needs additional repair services, we will provide you with an itemized list of what you need. You can always decide to add or decline any additional services.
        </p>
    </div>
}
@if (Model.ProductName == "Quotes etc.")
{
    <div>
        <h3>Orders</h3>
        <p>
            Generally speaking, we try to make things simple, so we can all get on with the tasks at hand. All we ask is that all orders are detailed, refer to the quote number and then emailed directly to <a href="mailto:chris@filtrationsolutions.co.nz">chris@filtrationsolutions.co.nz </a>
</p>
        <p>
            Kindly note that orders can NOT be cancelled unless approved by Chris. There is no guarantee that any order will be cancelled especially if spare parts are indented or specifically ordered for your company.
        </p>
        <p>
            Any estimated delivery date must be approved in writing by Chris.
        </p>
        <p>Please refer to our complete <a href="~/TermandCondition/Filtration Solutions Limited Terms and Conditions June 2019.pdf">Terms and Conditions</a> on www.filtrationsolutions.co.nz </p>
        <h3>Spare Parts</h3>
        <p>
            Our dedicated NZ spares team has direct access to genuine spares and aftermarket spares, ensuring minimum response times.
            We can identify common spares available in NZ and if there are any special freight deliveries that may need to be deployed to mitigate your risks.
        </p>
        <p>
            Getting fast prices is easier if you can supply the equipments full details. That includes Manufacturer, Make, Model, Serial Number and Year of Manufacture as a bare minimum.
            Parts are clearly marked to ensure that only dedicated spares are used on your specified equipment.
        </p>
        <p>
            If you are unable to identify your part, call us and we will probably swing by at an agreed time to help you out.
            The ability to hold specific critical spares for you is available at an extra charge.
        </p>
      
        <h3>Delivery</h3>
        <p>
            Our intention is to use the best means of delivering our products and services.
        </p>
        <p>
            In all cases, we seek feedback from clients as to what we can do to improve our business offerings. 
        </p>
        <p>
            We have found that clients like to talk about many facets of their own business, and if we can help provide solutions that have positive results, then excuse the cliché’, but we really do both experience a “win win situation”.
        </p>
       
    </div>
}